h2{
    color:rgb(31, 83, 161);
}
.top-right{
    display: flex;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
li{
    display: inline;
    padding: 8px;
}
.Foogle{
    position: relative;
    height: 100px;
    width: 100px;
    top: 100px;
    bottom: 100px;
    left: 600px;
    background-color: rgb(255, 255, 255);
}
.search-form input[type=text]{
    position: relative;
    top: 190px;
    left: 610px;
    height: 40px;
    width: 430px;
    border-radius: 50px;
    /*background-color: rgb(71, 34, 34);*/
}